<div *ngIf="viewMode; else editable">
  <div *ngIf="currentProdutos.id">
    <h4>Produto</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentProdutos.name }}
    </div>
    <div>
      <label><strong>Descrição:</strong></label>
      {{ currentProdutos.description }}
    </div>
    <div>
      <label><strong>Preço:</strong></label>
      {{ currentProdutos.price | currency:'BRL':'symbol':'1.2-2' }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/produtos/{{ currentProdutos.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentProdutos">
    <br />
    <p>Por favor click no produto...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentProdutos.id" class="edit-form">
    <h4>Produtos</h4>
    <form>
      <div class="form-group">
        <label for="title">Nome:</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentProdutos.name"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentProdutos.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="price">Preço</label>
        <input
          type="text"
          class="form-control"
          id="price"
          [(ngModel)]="currentProdutos.price"
          name="price"
        />
      </div>

      <div class="form-group">
        <label><strong>Preço vigente:</strong></label>
        {{ currentProdutos.price | currency:'BRL':'symbol':'1.2-2' }}
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteProdutos()">
      Apagar
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateProduto()"
    >
      Atualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProdutos.id">
    <br />
    <p>Não pode acessar esse produto...</p>
  </div>
</ng-template>
