<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Gestão de Pedidos</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="pedidos" class="nav-link">Pedidos</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Novo Pedidos</a>
      </li>
      <li class="nav-item">
        <a routerLink="produtos" class="nav-link">Produtos</a>
      </li>
      <li class="nav-item">
        <a routerLink="addProdutos" class="nav-link">Novo Produto</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
